<!-- Footer-->
<footer class="footer">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-4">A propos de 6myshop</h4>
                <div>
                    <a  href="{#{ path('app_plan') }#}" class="text-white">Nos tarifs</a>
                </div>
                <div>
                    <a  href="{#{ path('app_contact') }#}" class="text-white">Nous Contacter</a>
                </div>
                <div>
                    <a href="#!" class="text-white" >Qui sommes nous ?</a>
                </div>
                <div>
                    <a href="#!" class="text-white"  class="text-white">Comment ça marche ?</a>
                </div>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-4">Nous suivre sur les réseaux sociaux</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/6myshop237" target="_blank" rel="noopener noreferrer" aria-label="Facebook"><i class="fab fa-fw fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.instagram.com/6myshop_/"><i class="fab fa-fw fa-instagram"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/6myshop-officiel-b695242a1?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fab fa-fw fa-linkedin-in"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://t.me/canal_6myshop"><i class="fab fa-fw fa-telegram-plane"></i></a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="mb-4">Informations légales</h4>
                <div>
                    <a href="#!" class="text-white"  >Conditions générales d'utilisation</a>
                </div>
                <div>
                    <a href="#!" class="text-white"  >Politique de confidentialité</a>
                </div>
                <div>
                    <a href="#!" class="text-white"  >Règles de difusion</a>
                </div>
                <div>
                    <a href="#!" class="text-white"  >Conseils de sécurité</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright &copy; <strong>6myshop</strong>. All Rights Reserved</small></div>
</div>