{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Ooops! une erreur c'est produite{% endblock %}

{% block body %}
    <main class="bg-secondary">
        <div class="container">
            <div class="text-center py-5">
                <div class="alert alert-danger py-5 my-5">
                <p class="lead">Ooops! une erreur c'est produite !</p>
                </div>
                <a class="btn btn-lg btn-primary  text-white" href="{{ path('app_main') }}">
                    <i class="fas fa-arrow-left me-1"></i>
                    Retour à l'accueil
                </a>
            </div>
        </div>
    </main>
{% endblock %}